.article a {
	@apply text-blue-500 hover:underline;
}

.article blockquote {
	@apply px-6 py-2 italic border-l-4 border-blue-300 bg-blue-50 dark:bg-gray-800 dark:border-blue-400;
}

.article code {
	@apply px-1 py-0.5 bg-blue-100 rounded dark:bg-gray-700;
	tab-size: 4;
}

.article h1 {
	@apply text-2xl font-semibold dark:text-gray-50;
}

.article h2 {
	@apply text-xl font-semibold dark:text-gray-50;
}

.article h3 {
	@apply font-semibold dark:text-gray-50;
}

.article img {
	@apply block mx-auto rounded-sm;
}

.article ol {
	@apply list-decimal list-inside;
}

.article ul {
	@apply list-disc list-inside;
}

pre[class*='language-'] > code[class*='language-'] {
	@apply block p-4 overflow-x-auto sm:rounded;
	color: #abb2bf;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
	background: #282c34;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #383e49;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #5c6370;
}

.token.punctuation {
	color: #abb2bf;
}

.token.selector,
.token.imports,
.token.tag {
	color: #e06c75;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
	color: #d19a66;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
	color: #98c379;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #56b6c2;
}

.token.atrule,
.token.keyword {
	color: #c678dd;
}

.token.function {
	color: #61afef;
}

.token.regex,
.token.important,
.token.variable {
	color: #c678dd;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre.line-numbers {
	position: relative;
	padding-left: 3.8rem;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8rem;
	width: 3rem; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: #5c6370;
	display: block;
	padding-right: 0.8rem;
	text-align: right;
}
