@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

html,
body,
#root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* Disable tabcolor for mobile devices */
* {
	-webkit-tap-highlight-color: transparent;
}
